{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <section class="bg-light pb-5 pt-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 py-3">
                    <div class="pl-lg-4 pr-lg-4">
                        <div class="bg-white d-inline-block mb-4 p-4 rounded-circle shadow text-primary">
                            <svg viewBox="0 0 24 24" fill="currentColor" height="3rem" width="3rem">
                                <path d="M9.366 10.682a10.556 10.556 0 0 0 3.952 3.952l.884-1.238a1 1 0 0 1 1.294-.296 11.422 11.422 0 0 0 4.583 1.364 1 1 0 0 1 .921.997v4.462a1 1 0 0 1-.898.995c-.53.055-1.064.082-1.602.082C9.94 21 3 14.06 3 5.5c0-.538.027-1.072.082-1.602A1 1 0 0 1 4.077 3h4.462a1 1 0 0 1 .997.921A11.422 11.422 0 0 0 10.9 8.504a1 1 0 0 1-.296 1.294l-1.238.884zm-2.522-.657l1.9-1.357A13.41 13.41 0 0 1 7.647 5H5.01c-.006.166-.009.333-.009.5C5 12.956 11.044 19 18.5 19c.167 0 .334-.003.5-.01v-2.637a13.41 13.41 0 0 1-3.668-1.097l-1.357 1.9a12.442 12.442 0 0 1-1.588-.75l-.058-.033a12.556 12.556 0 0 1-4.702-4.702l-.033-.058a12.442 12.442 0 0 1-.75-1.588z"></path>
                            </svg>
                        </div>
                        <h2 class="font-weight-bold h5 mb-2 text-uppercase">Phone</h2>
                        <ul class="list-unstyled">
                            <li>
                                <a href="tel:+0 123-456-789" class="text-secondary">+7 925-529-16-76</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 py-3">
                    <div class="pl-lg-4 pr-lg-4">
                        <div class="bg-white d-inline-block mb-4 p-4 rounded-circle shadow text-primary">
                            <svg viewBox="0 0 24 24" fill="currentColor" height="3rem" width="3rem">
                                <path d="M12 20.9l4.95-4.95a7 7 0 1 0-9.9 0L12 20.9zm0 2.828l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"></path>
                            </svg>
                        </div>
                        <h2 class="font-weight-bold h5 mb-2 text-uppercase">Address</h2>
                        <div class="text-secondary"> 16a Pobedi str.
                            <br> Krasnoznamensk, MO 143090
                            <br> Russia
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-3">
                    <div class="pl-lg-4 pr-lg-4">
                        <div class="bg-white d-inline-block mb-4 p-4 rounded-circle shadow text-primary">
                            <svg viewBox="0 0 24 24" fill="currentColor" height="3rem" width="3rem">
                                <path d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"></path>
                            </svg>
                        </div>
                        <h2 class="font-weight-bold h5 mb-2 text-uppercase">Email</h2>
                        <div class="mb-2">
                            <a href="mailto:info@company.com" class="text-secondary">sultanhabibi@mail.ru</a>
                        </div>
                        <div class="d-inline-flex flex-wrap">
                            <a href="https://github.com/hailMeh?tab=repositories" class="btn btn-secondary rounded-circle" aria-label="facebook link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                     class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                </svg>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}